Package: hf-pilot-dbgsym
Package-Type: ddeb
Source: hf-pilot
Version: 0.6
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Luke <luke@hearham.live>
Installed-Size: 37
Depends: hf-pilot (= 0.6)
Section: debug
Priority: optional
Description: debug symbols for hf-pilot
Build-Ids: 31209ddd43619871f13b4f79bd4b160520b4ec50 d32c62114543571e53b4c327400f2a709a9a387f fceb914c1fdfeafb9f532b65d5d6ccda5a9a15d7
