Package: hf-pilot-dbgsym
Package-Type: ddeb
Source: hf-pilot
Version: 0.7
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Luke <luke@hearham.live>
Installed-Size: 37
Depends: hf-pilot (= 0.7)
Section: debug
Priority: optional
Description: debug symbols for hf-pilot
Build-Ids: 054cb3971e6e43571bc6a20df90a1e7720b4ec50 195ad0321f5fafd872f8e6b81a5d1bf55a9a15d7 82011e0937e78386de708a4b67aa396e9a9a387f
